{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 */
#}
{% block paragraph %}
  <div class="referral-category">
    {% block content %}
        {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
