{#
/**
 * @file
 * Theme override to display a node.
 *
 * @see template_preprocess_node()
 *
 */
#}
<div class="node-business--contacts">
  <h3 class="contact-title">{{ 'Contact Information'|t }}</h3>
  {{ content }}
</div>
