
<div class="sidebar-pinned-poll">
  <div class="sidebar-pinned-poll__heading-row">
    <h3 class="sidebar-pinned-poll__heading">
      {{ "Polls" | t }}
    </h3>

    <a href="{{ content['#polls_link_value'] }}">{{ content['#polls_link_text'] }}</a>
  </div>
  {{ content['#paragraph'] }}
</div>
