{#
/**
 * @file
 * Theme override for a field.
 */
#}
{{ attach_library('elfbv/slick-slider-init') }}
<div class="videos videos--wrapper">
  {% for item in items %}
    <div class="videos--item">{{ item.content }}</div>
  {% endfor %}
</div>
