@use "../base/variables_drupal" as *;

.node__footer {
  align-items: flex-start;
  column-gap: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  row-gap: 12px;

  .footer__left,
  .footer-left {
    align-items: center;
    column-gap: 12px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;

    .vote-widget--like-and-dislike {
      align-items: center;
      background: $color-eternity9;
      border-radius: 8px;
      column-gap: 24px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 4px 12px;
      position: relative;

      &:after {
        background: $color-eternity5;
        content: "";
        height: calc(100% - 8px);
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1px;
      }

      .vote-like,
      .vote-dislike {
        align-items: center;
        column-gap: 8px;
        display: flex;

        &:hover {
          cursor: pointer;

          span {
            color: $color-eternity0;
          }
        }

        .count {
          @extend %inter-500;
          color: $color-eternity3;
          font-size: 14px;
          letter-spacing: -0.3px;
          line-height: 24px;
        }

        a {
          background-position: unset !important;
          height: 20px;
          width: 20px;
        }
      }

      .vote-like a {
        background: url("/themes/custom/elfbv/assets/media/icons/like.svg");

        &.voted {
          background: url("/themes/custom/elfbv/assets/media/icons/like-voted.svg");
        }
      }

      .vote-dislike a {
        background: url("/themes/custom/elfbv/assets/media/icons/dislike.svg");

        &.voted {
          background: url("/themes/custom/elfbv/assets/media/icons/dislike-voted.svg");
        }
      }

    }

    .comments-count  {
      .count-value {
        &:after {
          content: url("/themes/custom/elfbv/assets/media/icons/coments.svg");
        }
      }
    }

    .count-value {
      @extend %inter-500;
      align-items: center;
      background: $color-eternity9;
      border-radius: 8px;
      color: $color-eternity3;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      justify-content: center;
      letter-spacing: -0.3px;
      line-height: 24px;
      padding: 4px 8px 4px 36px;
      position: relative;

      &:after {
        content: url("/themes/custom/elfbv/assets/media/icons/show.svg");
        height: 18px;
        left: 8px;
        position: absolute;
      }
    }
  }

  .footer__right,
  .footer-right {
    column-gap: 12px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;

    .node-view-count,
    .comments-count {
      @extend %inter-500;
      align-items: center;
      background: $color-eternity9;
      border-radius: 8px;
      color: $color-eternity3;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      justify-content: center;
      letter-spacing: -0.3px;
      line-height: 24px;
      padding: 4px 8px 4px 36px;
      position: relative;

      &:after {
        height: 18px;
        left: 8px;
        position: absolute;
      }
    }

    .node-view-count {
      background: unset;

      &:after {
        content: url("/themes/custom/elfbv/assets/media/icons/show.svg");
      }
    }

    .comments-count {
      background: unset;
      color: $color-eternity0;

      &:after {
        content: url("/themes/custom/elfbv/assets/media/icons/coments.svg");
      }
    }

    .share-text {
      @extend %inter-600;
      align-self: center;
      color: $color-eternity4;
      font-size: 15px;
      letter-spacing: -.4px;
      line-height: 26px;
      padding: 3px 0;
    }

    .addtoany_list {
      column-gap: 12px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 12px;

      .a2a_counter {
        padding: 0;

        span.a2a_svg {
          border-radius: 8px !important;
          overflow: hidden;
        }
      }
    }
  }
}

@media (min-width: $screen__l) {
  .node__footer {
    column-gap: 16px;

    .footer__left,
    .footer-left {
      column-gap: 16px;
    }

    .footer__right,
    .footer-right {
      column-gap: 16px;

      .node-view-count,
      .comments-count {
        background: unset;
        font-size: 15px;
        letter-spacing: -0.4px;
        line-height: 26px;
        padding: 4px 0 4px 28px;

        &:after {
          left: 0;
        }
      }

      .node-view-count {
        color: $color-eternity4;
      }

      .addtoany_list {
        column-gap: 16px;
      }
    }
  }
}
