
<footer class="main-page-footer">
  {{ page.footer }}
  <div class="main-page-footer__copyright-wrapper">
    {{ content.copyright |raw }}
  </div>
{#  <div class="background-footer">
    <img src="{{ path_theme }}/assets/media/background/footer1.png">
  </div>#}
</footer>
